body {
  overflow-x: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 991px) {
  .zoomOut {
    zoom: 0.868;
  }
  .zoomOut2 {
    zoom: 0.838;
  }
}

@media only screen and (max-width: 667px) {
  .zoomOut {
    zoom: 0.808;
  }

  .zoomOut2 {
    zoom: 0.778;
  }
}

@media only screen and (max-width: 547px) {
  .zoomOut {
    zoom: 0.838;
  }

  .zoomOut2 {
    zoom: 0.8;
  }
}
